<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xz.dao.StudentMapper">
	<select id="selectStudent" parameterType="fenye"
		resultType="student">
		select * from student
		<where>
			<if test="t.s_name!=null and t.s_name!=''">
				and s_name like "%"#{t.s_name}"%"
			</if>
			<if test="t.s_phone!=null and t.s_phone!=''">
				and s_phone=#{t.s_phone}
			</if>
		</where>
		limit #{page},#{pageSize}
	</select>
	<select id="selectCountStu" parameterType="fenye"
		resultType="int">

		select count(*) from student

	</select>
	<delete id="deleteStudent" parameterType="student">
		delete from student
		<where>
			s_id=#{s_id}
		</where>
	</delete>
</mapper>