<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xz.dao.StudentMapper">

	<select id="selectStudent" parameterType="fenye"
		resultType="student">
		select * from student 
		<where>
		and u_id &gt; 0
			<if test="t.s_name!=null and t.s_name!=''">
				and s_name like "%"#{t.s_name}"%"
			</if>
			<if test="t.s_phone!=null and t.s_phone!=''">
				and s_phone=#{t.s_phone}
			</if>
			<if test="t.s_qq!=null and t.s_qq!=''">
				and s_qq=#{t.s_qq}
			</if>
			<if test="t.u_id!=null and t.u_id!=''">
				and u_id=#{t.u_id}
			</if>
			<if
				test="t.stime!=null and t.stime!='' and t.etime!=null and t.etime!=''">
				and s_jinbanshijian between #{t.stime} and #{t.etime}
			</if>
			<if test="t.s_huifang!=null and t.s_huifang!=''">
				and s_huifang=#{t.s_huifang}
			</if>
			<if test="t.s_youxiao!=null and t.s_youxiao!=''">
				and s_youxiao=#{t.s_youxiao}
			</if>
			<if test="t.s_jiaofei!=null and t.s_jiaofei!=''">
				and s_jiaofei=#{t.s_jiaofei}
			</if>

		</where>
		limit #{page},#{pageSize}
	</select>

	<select id="selectCountStu" parameterType="fenye"
		resultType="int">
		select count(*) from student 
		<where>
		and u_id &gt; 0
			<if test="t.s_name!=null and t.s_name!=''">
				and s_name like "%"#{t.s_name}"%"
			</if>
			<if test="t.s_phone!=null and t.s_phone!=''">
				and s_phone=#{t.s_phone}
			</if>
			<if test="t.s_qq!=null and t.s_qq!=''">
				and s_qq=#{t.s_qq}
			</if>
			<if test="t.u_id!=null and t.u_id!=''">
				and u_id=#{t.u_id}
			</if>
			<if
				test="t.stime!=null and t.stime!='' and t.etime!=null and t.etime!=''">
				and s_jinbanshijian between #{t.stime} and #{t.etime}
			</if>
			<if test="t.s_huifang!=null and t.s_huifang!=''">
				and s_huifang=#{t.s_huifang}
			</if>
			<if test="t.s_youxiao!=null and t.s_youxiao!=''">
				and s_youxiao=#{t.s_youxiao}
			</if>

			<if test="t.s_jiaofei!=null and t.s_jiaofei!=''">
				and s_jiaofei=#{t.s_jiaofei}
			</if>
		</where>
		
	</select>

	<select id="selectname2" parameterType="int" resultType="String">
		SELECT u.u_userName from student s,user u
		<where>
			u.u_id=s.u_idw and s.s_id=#{s_id}
		</where>
	</select>

	<select id="selectname" parameterType="int" resultType="String">
		SELECT u.u_userName from student s,user u
		<where>
			u.u_id=s.u_id and s.s_id=#{s_id}
		</where>
	</select>

	<delete id="deleteStudent" parameterType="student">
		delete from student
		<where>
			s_id=#{s_id}
		</where>
	</delete>

	<select id="selectUname" resultType="user">
		select * from user where
		u_id in(
		select u_id from userrole where r_id=(select r_id from role
		where
		r_name='咨询师角色') )
	</select>

	<update id="updateStudent" parameterType="student">
		update student
		<set>
			<if test="s_name!=null and s_name!=''">
				s_name =#{s_name},
			</if>

			<if test="s_age!=null and s_age!=''">
				s_age=#{s_age},
			</if>
			<if test="s_sex!=null and s_sex!=''">
				s_sex=#{s_sex},
			</if>
			<if test="s_phone!=null and s_phone!=''">
				s_phone=#{s_phone},
			</if>
			<if test="s_education!=null and s_education!=''">
				s_education=#{s_education},
			</if>
			<if test="s_status!=null and s_status!=''">
				s_status=#{s_status},
			</if>
			<if test="s_qudao!=null and s_qudao!=''">
				s_qudao=#{s_qudao},
			</if>
			<if test="s_wangzhan!=null and s_wangzhan!=''">
				s_wangzhan=#{s_wangzhan},
			</if>
			<if test="s_guanjian!=null and s_guanjian!=''">
				s_guanjian=#{s_guanjian},
			</if>
			<if test="s_qq!=null and s_qq!=''">
				s_qq=#{s_qq},
			</if>
			<if test="s_weChat!=null and s_weChat!=''">
				s_weChat=#{s_weChat},
			</if>
			<if test="s_baobei!=null and s_baobei!=''">
				s_baobei=#{s_baobei},
			</if>
			<if test="s_beizhu!=null and s_beizhu!=''">
				s_beizhu=#{s_beizhu},
			</if>
			<if test="u_id!=null and u_id!=''">
				u_id=#{u_id},
			</if>
			<if test="s_quyu!=null and s_quyu!=''">
				s_quyu=#{s_quyu},
			</if>
			<if test="s_bumen!=null and s_bumen!=''">
				s_bumen=#{s_bumen},
			</if>
			<if test="s_kecheng!=null and s_kecheng!=''">
				s_kecheng=#{s_kecheng},
			</if>
			<if test="s_youxiao!=null and s_youxiao!=''">
				s_youxiao=#{s_youxiao},
			</if>
			<if test="s_dafen!=null and s_dafen!=''">
				s_dafen=#{s_dafen},
			</if>
			<if test="s_huifang!=null and s_huifang!=''">
				s_huifang=#{s_huifang},
			</if>
			<if test="s_huifangshijian!=null and s_huifangshijian!=''">
				s_huifangshijian=#{s_huifangshijian},
			</if>
			<if test="s_shangmen!=null and s_shangmen!=''">
				s_shangmen=#{s_shangmen},
			</if>
			<if test="s_shangmenshijian!=null and s_shangmenshijian!=''">
				s_shangmenshijian=#{s_shangmenshijian},
			</if>
			<if test="s_wuxiaoyuanyin!=null and s_wuxiaoyuanyin!=''">
				s_wuxiaoyuanyin=#{s_wuxiaoyuanyin},
			</if>
			<if test="s_jiaofei!=null and s_jiaofei!=''">
				s_jiaofei=#{s_jiaofei},
			</if>
			<if test="s_jiaofeishijian!=null and s_jiaofeishijian!=''">
				s_jiaofeishijian=#{s_jiaofeishijian},
			</if>
			<if test="s_price!=null and s_price!=''">
				s_price=#{s_price},
			</if>
			<if test="s_tuifei!=null and s_tuifei!=''">
				s_tuifei=#{s_tuifei},
			</if>
			<if test="s_jinban!=null and s_jinban!=''">
				s_jinban=#{s_jinban},
			</if>
			<if test="s_jinbanshijian!=null and s_jinbanshijian!=''">
				s_jinbanshijian=#{s_jinbanshijian},
			</if>
			<if test="s_jinbanbeizhu!=null and s_jinbanbeizhu!=''">
				s_jinbanbeizhu=#{s_jinbanbeizhu},
			</if>
			<if test="s_tuifeiyuanyin!=null and s_tuifeiyuanyin!=''">
				s_tuifeiyuanyin=#{s_tuifeiyuanyin},
			</if>
			<if test="s_dingjin!=null and s_dingjin!=''">
				s_dingjin=#{s_dingjin},
			</if>
			<if test="s_dingjinshijian!=null and s_dingjinshijian!=''">
				s_dingjinshijian=#{s_dingjinshijian},
			</if>
			<if test="s_guanzhu!=null and s_guanzhu!=''">
				s_guanzhu=#{s_guanzhu},
			</if>
			<if test="u_idw!=null and u_idw!=''">
				u_idw=#{u_idw},
			</if>
			<if test="s_zixunbeizhu!=null and s_zixunbeizhu!=''">
				s_zixunbeizhu=#{s_zixunbeizhu},
			</if>
		</set>
		<where>
			s_id=#{s_id}
		</where>
	</update>

	<insert id="insertStudent" parameterType="student">
		insert into
		student(s_name,s_age,s_sex,s_phone,s_education,s_status,s_qudao,s_wangzhan,s_guanjian,s_qq,s_weChat,s_baobei,u_id)
		values(#{s_name},#{s_age},#{s_sex},#{s_phone},#{s_education},#{s_status},#{s_qudao},#{s_wangzhan},#{s_guanjian},#{s_qq},#{s_weChat},#{s_baobei},#{u_id});
	</insert>
	<select id="selectjs" parameterType="int" resultType="int">
		select count(*) from userrole where
		(select r_id from role where
		r_name="咨询师角色")
		in (select r_id from userrole where u_id=#{u_id})
	</select>
	
	<select id="selectjs1" parameterType="int" resultType="int">
		select
		count(*) from userrole where
		(select r_id from role where
		r_name="咨询师经理角色")
		in (select r_id from userrole where u_id=#{u_id})
	</select>
		<select id="selectjs2" parameterType="int" resultType="int">
		select count(*) from userrole where
		(select r_id from role where
		r_name="管理员角色")
		in (select r_id from userrole where u_id=#{u_id})
	</select>
	<select id="selectMyStudent" parameterType="fenye" resultType="student">
		select * from student
		<where>
		
			<if test="t.s_name!=null and t.s_name!=''">
				and s_name like "%"#{t.s_name}"%"
			</if>
			<if test="t.s_phone!=null and t.s_phone!=''">
				and s_phone=#{t.s_phone}
			</if>
			<if test="t.s_qq!=null and t.s_qq!=''">
				and s_qq=#{t.s_qq}
			</if>
			<if test="t.u_idw!=null and t.u_idw!=''">
				and u_idw=#{t.u_idw}
			</if>
			<if
				test="t.stime!=null and t.stime!='' and t.etime!=null and t.etime!=''">
				and s_jinbanshijian between #{t.stime} and #{t.etime}
			</if>
			<if test="t.s_huifang!=null and t.s_huifang!=''">
				and s_huifang=#{t.s_huifang}
			</if>
			<if test="t.s_youxiao!=null and t.s_youxiao!=''">
				and s_youxiao=#{t.s_youxiao}
			</if>
			<if test="t.s_jiaofei!=null and t.s_jiaofei!=''">
				and s_jiaofei=#{t.s_jiaofei}
			</if>
			<if test="t.u_id!=null and t.u_id!=''">
				and u_id=#{t.u_id}
			</if>
		</where>
		limit #{page},#{pageSize}
	</select>
	<select id="countselectzxjs" parameterType="fenye"
		resultType="int">
		select count(*) from student
		<where>
			<if test="t.s_name!=null and t.s_name!=''">
				and s_name like "%"#{t.s_name}"%"
			</if>
			<if test="t.s_phone!=null and t.s_phone!=''">
				and s_phone=#{t.s_phone}
			</if>
			<if test="t.s_qq!=null and t.s_qq!=''">
				and s_qq=#{t.s_qq}
			</if>
			<if test="t.u_idw!=null and t.u_idw!=''">
				and u_idw=#{t.u_idw}
			</if>
			<if
				test="t.stime!=null and t.stime!='' and t.etime!=null and t.etime!=''">
				and s_jinbanshijian between #{t.stime} and #{t.etime}
			</if>
			<if test="t.s_huifang!=null and t.s_huifang!=''">
				and s_huifang=#{t.s_huifang}
			</if>
			<if test="t.s_youxiao!=null and t.s_youxiao!=''">
				and s_youxiao=#{t.s_youxiao}
			</if>

			<if test="t.s_jiaofei!=null and t.s_jiaofei!=''">
				and s_jiaofei=#{t.s_jiaofei}
			</if>
			<if test="t.u_id!=null and t.u_id!=''">
				and u_id=#{t.u_id}
			</if>
		</where>
	</select>
	<select id="selectFenpei" parameterType="fenye" resultType="student">
	select * from student 
	<where>
	and s_id not in (select s_id from student where u_id>0)
	<if test="t.s_name!=null and t.s_name!=''">
	and s_name like  "%"#{t.s_name}"%"
	</if>
	<if test="t.s_age!=null and t.s_age!=''">
	and s_age=#{t.s_age}
	</if>	
	<if test="t.s_sex!=null and t.s_sex!=''">
	and s_sex=#{t.s_sex}
	</if>
	</where>
	</select>
	<select id="selectFenpeiCount" parameterType="fenye" resultType="int">
	select count(*) from student 
	<where>
	s_id not in (select s_id from student where u_id>0)
	<if test="t.s_name!=null and t.s_name!=''">
	and s_name like  "%"#{t.s_name}"%"
	</if>
	<if test="t.s_age!=null and t.s_age!=''">
	and s_age=#{t.s_age}
	</if>	
	<if test="t.s_sex!=null and t.s_sex!=''">
	and s_sex=#{t.s_sex}
	</if>
	</where>
	</select>
	<update id="fenpeizx" parameterType="student">
	update student <set>
	<if test="u_id!=null and u_id!=''">
	u_id=#{u_id},
	</if>
	</set>
	<where>s_id=#{s_id}</where>
	</update>
	<select id="isORnot" resultType="isFenpei">
	select id,fenpei from isfenpei 
	</select>
	<select id="selectStudent_xuanzhong" parameterType="list"
		resultType="student">
		SELECT
		s_id,s_name,s_age,s_sex,s_phone,s_education,s_status,s_qudao,s_wangzhan,s_guanjian,s_qq,s_weChat,s_baobei,s_beizhu,u_id,s_quyu,s_bumen,s_kecheng,s_youxiao,s_dafen,s_huifang,s_huifangshijian,s_shangmen,s_shangmenshijian,s_wuxiaoyuanyin,s_jiaofei,s_jiaofeishijian,s_price,s_tuifei,s_jinban,s_jinbanshijian,s_jinbanbeizhu,s_tuifeiyuanyin,s_dingjin,s_dingjinshijian,s_guanzhu,u_idw,s_zixunbeizhu
		FROM student WHERE s_id in
		<foreach collection="list" item="item" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</select>
	<select id="selectUseru_id" parameterType="int"
		resultType="user">
		select
		u_userName from
		user where u_id=#{u_id}
	</select>
</mapper>