<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.dao.UserMapper">
	<sql id="chaxuntj">
		<where>
			<if test="t.u_userName!=null and t.u_userName!=''">
				and u_userName like "%"#{t.u_userName}"%"
			</if>
			<if
				test="t.stime!=null and t.stime!='' and t.etime!=null and t.etime!=''">
				and u_createTime between #{t.stime} and #{t.etime}
			</if>
			<if test="t.u_lastLoginTime!=null and t.u_lastLoginTime!=''">
				and u_lastLoginTime =#{t.u_lastLoginTime}
			</if>
		</where>
	</sql>
	<select id="selectUser" parameterType="fenye" resultType="user">
		select * from user
		<include refid="chaxuntj"></include>
		<if test="t.paixu==0 and t.paixu!=''">
			order by u_lastLoginTime desc
		</if>
		<if test="t.paixu==1 and t.paixu!=''">
			order by u_createTime desc
		</if>
		limit #{page},#{pageSize}
	</select>
	<select id="selectUserCount" parameterType="fenye"
		resultType="int">
		select count(u_id) from user
		<include refid="chaxuntj"></include>
	</select>
	<select id="selectCountByLname" parameterType="string" resultType="int">
	select count(u_id) from user <where>	u_loginName=#{u_loginName}</where>
	</select>
	<insert id="insertUser" parameterType="user">
	insert into user (u_loginName,u_userName,u_password,u_email,u_phoneNumber,u_createTime)
	values(#{u_loginName},#{u_userName},#{u_password},#{u_email},#{u_phoneNumber},#{u_createTime})
	</insert>
	<delete id="deleteUser" parameterType="int">
	delete from user where u_id=#{u_id}
	</delete>
	<update id="updateUser" parameterType="user">
	update user 
	<set>
	<if test="u_email!=null and u_email!=''">
	u_email=#{u_email},
	</if>
	<if test="u_phoneNumber!=null and u_phoneNumber!=''">
	u_phoneNumber=#{u_phoneNumber}
	</if>
	</set>
	<where>
	u_id=#{u_id}
	</where>
	</update>
	<update id="chongzhimima" parameterType="int">
	update user set u_password="d776be771e34293953d66ebc052d0524" where u_id=#{u_id}
	</update>
	<update id="suoding" parameterType="int">
	update user set u_isLockout="1" where u_id=#{u_id}
	</update>
	<update id="jiesuo" parameterType="int">
	update user set u_isLockout="0" where u_id=#{u_id}
	</update>
	
	<select id="selectRole" resultType="role">
	select * from role
	</select>
	
	<select id="selectMyRole" parameterType="int" resultType="role">
	 select r_name,r_id from role where r_id in (select r_id from userrole WHERE u_id=#{u_id})
	</select>
	
	<insert id="addRoles" parameterType="userRole">
	insert into userrole (u_id,r_id) values(#{u_id},#{r_id})
	</insert>
	
	<delete id="deleteRole" parameterType="userRole" >
	delete from userrole where u_id=#{u_id} and r_id=#{r_id}
	</delete>
	
	<update id="updateLastTime" parameterType="user">
	update user <set> <if test="u_lastLoginTime!=null and u_lastLoginTime!=''">u_lastLoginTime=#{u_lastLoginTime},</if></set><where>u_id=#{u_id}</where>
	</update>
	
	<update id="updateMima" parameterType="user" >
	update user <set> <if test="apwd!=null and apwd!=''">u_password=#{apwd}</if></set> where u_id=#{u_id}
	</update>
	
	<select id="selectUserQD" parameterType="fenye" resultType="user">
	select * from user
	<where>
			<if test="t.u_userName!=null and t.u_userName!=''">
				and u_userName like "%"#{t.u_userName}"%"
			</if>
			<if
				test="t.stime!=null and t.stime!='' and t.etime!=null and t.etime!=''">
				and u_qdshijian between #{t.stime} and #{t.etime}
			</if>
			<if test="t.u_qdstatus>0">
				and u_qdstatus=#{t.u_qdstatus}
			</if>
		</where>
		limit #{page},#{pageSize}
	</select>
	<select id="selectCountQD" parameterType="fenye"	resultType="int">
		select count(u_id) from user
		<where>
			<if test="t.u_userName!=null and t.u_userName!=''">
				and u_userName like "%"#{t.u_userName}"%"
			</if>
			<if
				test="t.stime!=null and t.stime!='' and t.etime!=null and t.etime!=''">
				and u_qdshijian between #{t.stime} and #{t.etime}
			</if>
			<if test="t.u_qdstatus>0">
				and u_qdstatus=#{t.u_qdstatus}
			</if>
		</where>
	</select>
	
	<select id="selectStatusQD" parameterType="int" resultType="user">
	select * from user where u_qdstatus='4' and u_id=#{u_id}
	</select>
	<select id="selectStatusintwo" parameterType="int" resultType="user">
	select * from user where u_qdstatus='2' and u_id=#{u_id}
	</select>
	<update id="qdcaozuo" parameterType="int" >
	update user <set>u_qdstatus ="4"</set> where u_id=#{u_id}
	</update>
	
	<update id="empqd" parameterType="user">
	update user 
	<set>
	<if test="u_qdshijian!=null and u_qdshijian!=''">
	u_qdshijian=#{u_qdshijian},
	</if>
	<if test="u_qdstatus!=null and u_qdstatus !=''">
	u_qdstatus=#{u_qdstatus},
	</if>
	</set>
     <where>u_id=#{u_id}</where>
	</update>
	<update id="updateUsergerenqd" parameterType="user">
	update user 
	<set>
	<if test="u_qdstatus!=null and u_qdstatus !=''">
	u_qdstatus=#{u_qdstatus},
	</if>
	</set>
     <where>u_id=#{u_id}</where>
	</update>
	<update id="qiantui">
	update user set u_qdstatus=4  where u_qdstatus !=2
	</update>
	
	<select id="selectZxs" resultType="user">
	select u.* from user u INNER JOIN userrole ur INNER JOIN role r on u.u_id =ur.u_id and ur.r_id=r.r_id where r.r_name="咨询师角色"
	</select>
	<select id="selectZxsFenpei" resultType="user">
     select u.* from user u INNER JOIN userrole ur INNER JOIN role r on u.u_id =ur.u_id and ur.r_id=r.r_id where r.r_name="咨询师角色" and u.u_qdstatus in(1,3)
    </select>
	<select id="selectUweight" parameterType="fenye" resultType="user">
	select u.u_id,u.u_userName,u.u_weight,u.u_weightbeizhu from user u INNER JOIN userrole ur INNER JOIN role r on u.u_id =ur.u_id and ur.r_id=r.r_id 
	<where>
	 r.r_name="咨询师角色"
	<if test="t.u_userName!=null and t.u_userName !=''">
	  and u.u_userName like "%"#{t.u_userName}"%"
	</if>
	</where>
	limit #{page},#{pageSize}
	</select>
	
	<select id="selectUweightCount" parameterType="fenye" resultType="int">
	select count(*) from user u INNER JOIN userrole ur INNER JOIN role r on u.u_id =ur.u_id and ur.r_id=r.r_id 
	<where>
	 r.r_name="咨询师角色"
	<if test="t.u_userName!=null and t.u_userName !=''">
	  and u.u_userName like "%"#{t.u_userName}"%"
	</if>
	</where>
	</select>
	
	<update id="updateUweight" parameterType="user">
	update user <set>
	<if test="u_weight!=null and u_weight!=''">
	u_weight=#{u_weight},
	</if>
	<if test="u_weightbeizhu!=null and u_weightbeizhu!=''">
	u_weightbeizhu=#{u_weightbeizhu},
	</if>
	</set>
	<where>
	u_id=#{u_id}
	</where>
	</update>
	
	<update id="updateIsFenpei" parameterType="isFenpei">
	update isfenpei
	<set>
	<if test="fenpei>0">
	fenpei=#{fenpei}
	</if>
	</set>
	<where>
	id=1
	</where>
	</update>
	<select id="selectRname" parameterType="int" resultType="String">
	select count(*) from role where r_name=#{r_name}
	</select>
	<select id="selectCOuntQd" parameterType="int" resultType="int">
	select count(*) from user where u_id=#{u_id} and u_qdstatus not in (1,3)
	</select>
	<select id="selectuserqd" parameterType="int" resultType="int">
	select count(*) from user where u_id=#{u_id} and u_qdstatus  in (1,3)
	</select>
	
	<select id="selectUserisok" parameterType="String"	resultType="int">
	
	select COUNT(*)  FROM user
	<where>
	
	u_userName=#{u_userName}
	
	</where>
	</select>
	
	
</mapper>